.card-img-top {
    display: block;
}

.card-body {
    background-size: 0%;
}

@media (max-height: 700px), (max-width: 576px) {
    .card-img-top {
        display: none;
    }
    .card-body {
        background-size: cover
    }
}

section#main > div:nth-child(1) {
    flex-basis: 35%;
}

section#main > div:nth-child(2) {
    flex-basis: 65%;
}

@media (min-width: 576px) {
    section#main > div:nth-child(2) {
        flex-basis: auto;
    }
}