.card-img-top {
    display: block;
}

.card-body {
    background-size: 0%;
}

.alert-info {
    background-color: rgba(207,244,252,0.85);
    animation: swoopy .5s linear;
}

.alert-secondary {
    background-color: rgba(226,227,220,0.85);
}

.alert-success {
    background-color: rgba(209,231,221,0.85);
    animation: swoopy .5s linear;
}

@media (max-height: 700px), (max-width: 576px) {
    .card-img-top {
        display: none;
    }
    .card-body {
        background-size: cover
    }
}

section#main > div:nth-child(1) {
    flex-basis: 35%;
}

section#main > div:nth-child(2) {
    flex-basis: 65%;
}

@media (min-width: 576px) {
    section#main > div:nth-child(2) {
        flex-basis: auto;
    }
}

@keyframes swoopy {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

@keyframes blinkingBorder{
    0%		{ border-color: green;}
    25%		{ border-color: lime;}
    50%		{ border-color: green;}
    75%		{ border-color: lime;}
    100%	{ border-color: green;}
}

#square, #axis-y-top, #axis-y-bottom, #axis-x-left, #axis-x-right {
    touch-action: none;
    pointer-events: none;
}

#square {
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: rgba(255, 0, 0, 0.4);
    border: solid;
    border-width: 4px;
    border-color: black;  
  }

#square.blinking {
    animation: blinkingBorder 1s infinite;
}

#axis-y-top, #axis-y-bottom, #axis-x-left, #axis-x-right {
    background-color: black;
}

#axis-y-top, #axis-y-bottom {
    left: 50%;    
    margin-left: -1px;
    height: calc(50% - 40px);
    width: 2px;
}

#axis-y-top {
    top: 0px;
}

#axis-y-bottom {
    top: calc(50% + 40px);
}

#axis-x-left, #axis-x-right {
    top: 50%;
    height: 2px;
    margin-top: -1px;
    width: calc(50% - 40px);
}

#axis-x-left {
    left: 0px;
}

#axis-x-right {
    left: calc(50% + 40px);
}

.esri-popup {margin-bottom: 35px;}
.esri-popup__footer {display: none}
.esri-view-width-medium .esri-popup__main-container {width: auto;}
.esri-view-orientation-landscape .esri-popup__main-container {width: auto;}
.esri-view-width-less-than-medium .esri-popup__main-container {width: auto;}

#instructions {
    background-color: rgba(255,255,255,0.7);    
    position: fixed;
    z-index: 2000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
